<?php foreach($payments as $paymentType): ?>
<tr>
    <td><?= $paymentType->name ?></td>
    <td class="text-right"><?= number_format($paymentType->transaction_count) ?></td>
    <td class="text-right"><?= number_format($paymentType->income_total_amount, 2) ?></td>
    <td class="text-right"><?= number_format($paymentType->refund_total_amount, 2) ?></td>
    <td class="text-right"><?= number_format($paymentType->total_amount, 2) ?></td>
</tr>
<?php endforeach; ?>
