<?php foreach($tax as $taxRate): ?>
<tr>
    <td><?= $taxRate->tax_rate_name ?></td>
    <td class="text-right"><?= number_format($taxRate->transaction_count) ?></td>
    <td class="text-right"><?= number_format($taxRate->total_amount - $taxRate->total_tax, 2) ?></td>
    <td class="text-right"><?= number_format($taxRate->total_tax, 2) ?></td>
    <td class="text-right"><?= number_format($taxRate->total_amount, 2) ?></td>
</tr>
<?php endforeach; ?>
