<tr>
    <td>Sales</td>
    <td class="text-right"><?= number_format($transactions->income_count) ?></td>
    <td class="text-right"><?= number_format($transactions->income_total_amount - $transactions->income_total_tax, 2) ?></td>
    <td class="text-right"><?= number_format($transactions->income_total_tax, 2) ?></td>
    <td class="text-right"><?= number_format($transactions->income_total_amount, 2) ?></td>
</tr>
<tr>
    <td>Refunds</td>
    <td class="text-right"><?= number_format($transactions->refund_count) ?></td>
    <td class="text-right"><?= number_format($transactions->refund_total_amount - $transactions->refund_total_tax, 2) ?></td>
    <td class="text-right"><?= number_format($transactions->refund_total_tax, 2) ?></td>
    <td class="text-right"><?= number_format($transactions->refund_total_amount, 2) ?></td>
</tr>
<tr>
    <td>Total</td>
    <td class="text-right"><?= number_format($transactions->transaction_count) ?></td>
    <td class="text-right"><?= number_format($transactions->total_amount - $transactions->total_tax, 2) ?></td>
    <td class="text-right"><?= number_format($transactions->total_tax, 2) ?></td>
    <td class="text-right"><?= number_format($transactions->total_amount, 2) ?></td>
</tr>
