<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('oppin/pos/reports/eods') ?>">End of Day</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<div class="row">
    <div class="col-md-8">
        <div class="report-widget m-b-md">
            <h3>Details</h3>
            <dl class="dl-horizontal">
                <dt>Date / Time</dt>
                <dd><?= Backend::dateTime($eod->created_at) ?></dd>
                <dt>Location</dt>
                <dd><?= e($eod->transaction->terminal->location->name) ?></dd>
                <dt>Terminal</dt>
                <dd><?= e($eod->transaction->terminal->name) ?></dd>
                <dt>User</dt>
                <dd><?= e($eod->transaction->user->full_name) ?></dd>
            </dl>
        </div>
        <div class="report-widget m-b-md">
            <h3>Payment Types</h3>
            <table class="table m-b-0">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th class="text-right">Start</th>
                        <th class="text-right">Expected</th>
                        <th class="text-right">Counted</th>
                        <th class="text-right">Imbalance</th>
                        <th class="text-right">Banked</th>
                        <th class="text-right">Carried</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($eod->payment_types as $pt): ?>
                        <tr>
                            <td><?= e($pt->name) ?></td>
                            <td class="text-right"><?= number_format($pt->start, 2) ?></td>
                            <td class="text-right"><?= number_format($pt->pivot->expected, 2) ?></td>
                            <td class="text-right"><?= number_format($pt->pivot->actual ,2) ?></td>
                            <td class="text-right"><?= number_format($pt->pivot->actual - $pt->pivot->expected ,2) ?></td>
                            <td class="text-right"><?= number_format($pt->pivot->actual - $pt->pivot->carry ,2) ?></td>
                            <td class="text-right"><?= number_format($pt->pivot->carry ,2) ?></td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="report-widget m-b-md">
            <h3>Count</h3>
            <table>
                <tbody>
                    <?php foreach($lines as $line): ?>
                        <tr>
                            <td style="width: 90%"><?= e($line->name) ?></td>
                            <td class="text-right"><?= number_format($line->line_amount, 2) ?></td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
