<?= $filter->render() ?>

<div class="p-a-md">
    <div class="row">
        <div class="col-md-6">
            <div class="report-widget m-b-md">
                <h3>Transactions</h3>
                <table class="table m-b-0">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th class="text-right">Count</th>
                            <th class="text-right">Net</th>
                            <th class="text-right">Tax</th>
                            <th class="text-right">Gross</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-product-sales">
                        <?= $this->makePartial('transactions_rows') ?>
                    </tbody>
                </table>
            </div>
            <div class="report-widget m-b-md">
                <h3>Tax</h3>
                <table class="table m-b-0">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th class="text-right">Count</th>
                            <th class="text-right">Net</th>
                            <th class="text-right">Tax</th>
                            <th class="text-right">Gross</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-tax">
                        <?= $this->makePartial('tax_rows') ?>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="report-widget m-b-md">
                <h3>Payments</h3>
                <table class="table m-b-0">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th class="text-right">Count</th>
                            <th class="text-right">Income</th>
                            <th class="text-right">Refunds</th>
                            <th class="text-right">Total</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-payments">
                        <?= $this->makePartial('payments_rows') ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
