<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('oppin/pos/reports/transactions') ?>">Transactions</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<div class="row">
    <div class="col-md-7">
        <div class="report-widget m-b-md">
            <h3>Details</h3>
            <dl class="dl-horizontal">
                <dt>Date / Time</dt>
                <dd><?= Backend::dateTime($transaction->created_at) ?></dd>
                <dt>Location</dt>
                <dd><?= e($transaction->terminal->location->name) ?></dd>
                <dt>Terminal</dt>
                <dd><?= e($transaction->terminal->name) ?></dd>
                <dt>User</dt>
                <dd><?= e($transaction->user->full_name) ?></dd>
                <?php if (!empty($transaction->delivery_type)): ?>
                    <dt>Delivery Type</dt>
                    <dd><?= e($transaction->delivery_type->name) ?></dd>
                <?php endif; ?>
                <?php if (!empty($transaction->account)): ?>
                    <dt>Account</dt>
                    <dd><a href="<?= Backend::url('oppin/poshospitality/accounts/update/' . $transaction->account_id) ?>"><?= e($transaction->account->title . ' ' . $transaction->account->first_name . ' ' . $transaction->account->last_name) ?></a></dd>
                <?php endif; ?>
            </dl>
        </div>
    </div>
    <div class="col-md-5">
        <div class="report-widget m-b-md">
            <h3>Receipt</h3>
            <table>
                <tbody>
                    <?php foreach($transaction->lines as $line): ?>
                        <tr>
                            <td style="width: 90%"><?= e($line->name) ?></td>
                            <td class="text-right"><?= number_format($line->line_amount, 2) ?></td>
                        </tr>
                        <?php if ($line->qty != 1 && $line->object_type == 'Oppin\POS\Models\Product'): ?>
                            <tr>
                                <td colspan="2">&nbsp;&nbsp;<?= e($line->qty) ?> @ <?= number_format($line->single_amount, 2) ?></td>
                            </tr>
                        <?php endif ?>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
