<p class="help-block">
    <a href="javascript:;" data-request="onRegenerateLogin" data-request-confirm="Are you sure you want to change this user's login code?" data-request-success="$('#Form-field-User-login').val(data.login)">Regenerate</a>
</p>
