<p class="help-block">
    <a href="javascript:;" data-request="onRegenerateApiKey" data-request-confirm="Are you sure you want to change this terminal's API key? It will cause it to stop working until the new key is installed." data-request-success="$('#Form-field-Terminal-api_key').val(data.key)">Regenerate</a>
</p>
